<h1>Listing games</h1>

<table>
  <thead>
    <tr>
      <th>Attacker</th>
      <th>Defender</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.player1.avatar_name %></td>
        <td><%= game.player2.avatar_name %></td>
        <td><%= link_to 'Show', game %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

